<% include ./organizerheader.ejs %>

    <div class="myclass" style="width:50%; padding-top:1px; margin:auto; margin-top:100px;">
        <h1 class="title-arch" style="size:120px;font-weight:800;text-shadow:1px 1px 1px #aaa;color:#1fa67b; text-align:center ">ADD ORGANISERS</h1>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
               
            </div>

            <!-- edit form column -->
            <div class="col-md-6 personal-info">
                <form class="form-horizontal" role="form">
                    
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" value="janesemail@gmail.com" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Assign Department</label>
                        <div class="col-lg-8">
                            <div class="ui-select">
                                <select id="department" class="form-control">
                                    <option value="head">Head-Co-ordinator</option>
                                    <option value="Core">Core-Member</option>
                                    <option value="Exe">Excecutive-Member</option>
                                    <option value="vol">Volunteer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                  

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input class="btn" style="backgound-color:#1fa67b; color:white" value="Save Changes" type="button">
                            <span></span>
                            <input class="btn btn-default cancel-btn" value="Cancel" type="reset">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



</body>

</html>