<% include ./organizerheader.ejs %>
    <div class="Myclass">
        <div class="container-fluid" style="height:100%;">
            <div class="title-arch" style="size:120px;font-weight:800;text-shadow:0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.3);color:#1fa67b "> OUR TEAM </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project  wow animated animated3 fadeInLeft">
                <div class="project-hover">
                    <h2>AKSHITA KHANDELWAL</h2>

                    <hr />
                    <p>Core Administrator <br/> Contact- 
                    </p>
                    <a href="#">MANAGMENT TEAM</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-2 wow animated animated3 fadeInLeft">
                <div class="project-hover">
                    <h2>GAURAV WARLAYANI</h2>
                    <hr />
                    <p>Core-Coordinator<br/> Contact- </p> 
                    <a href="#">EVENT ORGANISER</a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-3 wow animated animated2 fadeInLeft">
                <div class="project-hover">
                    <h2>ROHIT AGARWAL</h2>
                    <hr />
                    <p>Core-Coordinator <br/> Contact-</p>
                    <a href="#">EVENT ORGANISER</a>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>