<% include ./facultyheader.ejs %>

<h1>This is going to be our view page</h1>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
<div class="Myclass">
    <div class="container-fluid">
        <div class="title-arch" style="size:80px; "> OUR TEAM 
            
        </div>
    
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project  wow animated animated3 fadeInLeft">
            <div class="project-hover">
                <h2>AKSHITA KHANDELWAL</h2>

                <hr />
                <p>Core Administrator <br/> Contact- 
                </p>
                <a href="#">MANAGMENT TEAM</a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-2 wow animated animated3 fadeInLeft">
            <div class="project-hover">
                <h2>GAURAV WARLAYANI</h2>
                <hr />
                <p>Core-Coordinator</p>
                <a href="#">EVENT ORGANISER</a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 project project-3 wow animated animated2 fadeInLeft">
            <div class="project-hover">
                <h2>ROHIT AGARWAL</h2>
                <hr />
                <p>Core-Coordinator</p>
                <a href="#">EVENT ORGANISER</a>
            </div>
            </div>
        </div>
 </div>    
        </body>
</html>