<% include ./facultyheader.ejs %>

    <div class="myclass" style="width:50%; padding-top:1px; margin:auto; margin-top:100px;">
        
        <div class="row">
            <!-- left column -->
            <div class="col-md-2">
               
            </div>

            <!-- edit form column -->
            <div class="col-md-8 personal-info">
                <form class="form-horizontal" role="form">
                        <h1 class="title-arch" style="size:120px;font-weight:800;color:#1fa67b; text-align:center ">ADD ORGANISERS</h1>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" value="janesemail@gmail.com" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label">Assign Department</label>
                        <div class="col-lg-8">
                            <div class="ui-select">
                                <select id="department" class="form-control">
                                    <option value="spons">Sponsership</option>
                                    <option value="managment">Managment Team</option>
                                    <option value="events">Event Organiser</option>
                                    <option value="media">Media and Publicity</option>
                                    <option value="trans">Transportation</option>
                                    <option value="creative" selected="selected">Creative Team</option>
                                    <option value="technical"> technical</option>
                                    <option value="doc">Documentation</option>
                                </select>
                            </div>
                        </div>
                    </div>
                  

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input class="btn save-btn" value="Save Changes" type="button">
                            <span></span>
                            <input class="btn cancel-btn" value="Cancel" type="reset">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<style>
    .save-btn , .cancel-btn {
    background-color: #1fa67b;
    color:white;
}
</style>


</body>

</html>