<% include ./facultyheader.ejs %>
<style>
.form-control{
    border: "none" ; 
    box-shadow: "unset";
}
</style>
<div class="container">
    <h1 style="color:#1fa67b ;font-weight :700 ; font-size:40px" >Edit Profile</h1>
    <hr class="hr-profile">
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="noimage.png"  style="color:white" class="avatar img-circle" alt="avatar">
                <h6 style="color:white">Upload a different photo...</h6>
                <input class="form-control" type="file" style="background:#E6E9EC" > 
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            
            <h3 style="color:#1fa67b ;font-weight :700 ; font-size:30px" >Personal info</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label style="color:white" class="col-lg-3 control-label">Name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="Jane" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label style="color:white" class="col-lg-3 control-label">College's Name</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="NIT-RAIPUR" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label style="color:white" class="col-lg-3 control-label">Mobile No.</label>
                    <div class="col-lg-8">
                        <input class="form-control" value="" type="tel">
                    </div>
                </div>
                <div class="form-group">
                    <label style="color:white"  class="col-lg-3 control-label">Email Id</label>
                    <div class="col-lg-8">
                    <input class="form-control" value="janesemail@gmail.com" type="email">
                    </div>
                </div>
                <div class="form-group">
                    <label style="color:white"  class="col-lg-3 control-label">Designation></label>
                    <div class="col-lg-8">
                        <input class="form-control" value="Core-member" type="text">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input class="btn save-btn "  value="Save Changes" type="button">
                        <span></span>
                        <input class="btn cancel-btn" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr class="hr-profile">



</body>
</html>