<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/taskdetails.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">  
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>
<body>
<div class="container task">
    <div class="row">
        <!-- edit form column -->
        <div class="col-md-6">
        <div class=" personal-info">
            <h1 style="color:#1fa67b">Task's Name:</h1>
            <label class="control-label">This is a aaaaaaaaa aaaaaaaaaaaaaaaaaa
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            </label>
        </div>
        <div class="personal-info">
                <label class="control-label" style="padding-top:10px;">Deadline: </label><br>
                Task Completed : <input type="radio" name="task" value="yes"> Yes
                <input type="radio" name="task" value="no"> No
                <textarea rows="4" cols="40" placeholder="Enter your feedback..." style="margin:10px 0" ></textarea>
                <button class="btn btn-custom" style="margin-bottom:10px;" >Submit your feedback</button>
        </div>
    </div>
        
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-5 personal-info" style="float:right;padding-right:20px;">
            <table class="table table-striped">
                 <thead>
                    <tr style="background-color:#1fa67b">
                        <th >Name</th>               
                        <th>Email Id</th>               
                        <th>Designation</th>               
                    </tr>
                </thead>   
                <tbody>
                <tr>
                    <td>Donna R. Folse</td>
                    <td>sf@gmail.com</td>                              
                    <td>hod</td>                              
                </tr> 
                <tr>
                        <td>Donna R. Folse</td>
                        <td>sf@gmail.com</td>                              
                        <td>hod</td>                              
                    </tr> <tr>
                            <td>Donna R. Folse</td>
                            <td>sf@gmail.com</td>                              
                            <td>hod</td>                              
                        </tr> <tr>
                                <td>Donna R. Folse</td>
                                <td>sf@gmail.com</td>                              
                                <td>hod</td>                              
                            </tr> <tr>
                                    <td>Donna R. Folse</td>
                                    <td>sf@gmail.com</td>                              
                                    <td>hod</td>                              
                                </tr> <tr>
                                        <td>Donna R. Folse</td>
                                        <td>sf@gmail.com</td>                              
                                        <td>hod</td>                              
                                    </tr> <tr>
                                            <td>Donna R. Folse</td>
                                            <td>sf@gmail.com</td>                              
                                            <td>hod</td>                              
                                        </tr> <tr>
                                                <td>Donna R. Folse</td>
                                                <td>sf@gmail.com</td>                              
                                                <td>hod</td>                              
                                            </tr> <tr>
                                                    <td>Donna R. Folse</td>
                                                    <td>sf@gmail.com</td>                              
                                                    <td>hod</td>                              
                                                </tr> <tr>
                                                        <td>Donna R. Folse</td>
                                                        <td>sf@gmail.com</td>                              
                                                        <td>hod</td>                              
                                                    </tr>                                
                </tbody>
            </table>
        </div>
    </div>
</div>
<button class="btn btn-danger" style="margin-bottom:10px; margin:0 auto; display:block;" >Close Task</button>


</body>
</html>