<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/get-started.css"> 
    <script src="/javascripts/get-started.js">
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <title>ENTRY</title>
</head>
<body>
     <div class ="fill"> 
    <div class="form1">
        <form  class="register-form" action="/get-started" method="POST" >
            <h1> ENTER YOUR FEST NAME !</h1>
            <input type="text" name="name" placeholder="Fest-Name" />
            <button>create</button>
            <p class="message">Already have a fest? <a href="/login"><u>Log In</u></a></p>
        </form>
    </div>
</div>
</body>
</html>