<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel ="stylesheet" type="text/css" href="/stylesheets/hero.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <script src="/javascripts/hero.js" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.1.4.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WELCOME</title>
</head>
<body bgcolor="#101317">
    <h1 style="margin-top:200px;">
        <p class="typewrite" style="background-color:#101317;margin:0px;" data-period="1000" data-type='[ "MANAGE YOUR FEST","LET US HELP YOU"]'>
    <!-- <span style="background-color:#101317"class="wrap"></span> -->
  </p>
    </h1>
    <form action="/get-started" method="GET">
        <button>GET STARTED</button>  
    </form>
</body>
</html>