<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
        <script src="/javascripts/signup.js"></script>    
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
    </head>
    <body>
        <div id="signup">
        <div class="container lf">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-wrap">
                        <h1>SIGN UP</h1>
                            <form role="form" class="tab" action="javascript:;" method="post" id="login-form" autocomplete="off">
                                <div class="form-group">
                                    <input type="text" name="" style="margin-top:10px;"  class="form-control" placeholder="Enter your Name" required>
                                    <input type="tel" name="" style="margin-top:10px;" class="form-control" placeholder="Mobile No." required>
                                    <input type="password" name="" style="margin-top:10px;" id="password" class="form-control" minlength="8" max="16" placeholder="Password" required>
                                    <input type="password" name="" id="conf_password" class="form-control" minlength="8" max="16" placeholder="Confirm Password" 
                                            style="margin-top:10px;"    required>
                                    <p style="color:white;font-size:12px;padding-top:3px;">Password must be between 8 to 16 characters.</p>
                                </div>
                                <input type="submit"  id="btn-login" class="btn btn-custom btn-lg btn-block" value="Sign Up">
                            </form>
                            <form role="form" class="tab">
                                
                            </form>
                        </div>
                    </div> <!-- /.col-xs-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div>

    </body>
</html>