<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/taskdetails.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">  
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
</head>
<body>
<div class="container task">
    <div class="row">
        <!-- edit form column -->
        <div class="col-md-4 personal-info">
            <h1 style="color:#1fa67b">Task's Name:</h1>
            <label class="control-label">This is a aaaaaaaaa aaaaaaaaaaaaaaaaaa
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            </label>
        </div>
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-4 personal-info" style="float:right">
            <table class="table table-striped">
                 <thead>
                    <tr style="background-color:#1fa67b">
                        <th >Name</th>               
                        <th>Email Id</th>               
                        <th>Designation</th>               
                    </tr>
                </thead>   
                <tbody>
                <tr>
                    <td>Donna R. Folse</td>
                    <td>sf@gmail.com</td>                              
                    <td>hod</td>                              
                </tr>                                
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                    <label class="col-md-4 control-label">Deadline: </label>

                </div>
                <div class="form-group container">
                        <div class="col-md-4">
                            
                        </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input class="btn "  value="Save Changes" type="button">
                        <span></span>
                        <input class="btn btn-default" value="Cancel" type="reset">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



</body>
</html>