*{
    font-family: 'Roboto Slab', serif;
}
body { padding-top: 68px; }
.festname, .festname:hover{
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 33px;
    letter-spacing: 1.5px;
    position: absolute;
    padding-left: 0px;
    
}
.festname:hover{
    text-decoration: underline;
}
.navbar-default {
    height:80px;
    font-size: 23px;
    position: relative;
    display:block;
    background-color: #101317;
    width: 100%;
}
.navbar-default {
text-align: center;
margin-top: 15px;
color: #fff;
}
/* 
.navbar-nav .zoom */

.navbar-default {
    text-align: center;
    margin-top: 10px;
    text-decoration:underline;
    color: #fff;
    }
/* 
.navbar-default .navbar-nav .zoom:hover,
.navbar-default .navbar-nav .zoom:active,
    .navbar-nav .zoom:focus */