*{
    background-color: #101317;
}

body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            background-color:#101317;
            text-align: center;
}
h1{
    font-size : 80px;
    font-family: 'Bree Serif', serif;
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #555;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #666;
    color: white;
}

* { color:#fff; text-decoration: none;}