
 .myclass{
    background-color: #fbfcfc ;
    min-height: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.save-btn .cancel-btn{
    background-color: #1fa67b;
    color:white;
}

img {
  border-radius: 50%;
}

.form-control{
border: "none" ; 
box-shadow: "unset";
}

hr{
    background-color: black
}