body{
    background-color: #101317 ;
}

.save-btn , .cancel-btn {
    background-color: #1fa67b;
    color:white;
}

img {
  border-radius: 50%;
}

.hr-profile{
background-color: #101317
}
.control-label{
    color: white;
}