
.personal-info{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.3); 
    margin:25px; 
}

.btn {
    background-color: #1fa67b;
    color:white;
}

img {
  border-radius: 50%;
}
.control-label{
    text-align: center;
}
table, th,td {
    border: 1px solid black;
}
table{
    margin: 10px;
}
/* .form-control{
border: "none" ; 
box-shadow: "unset";
} */